body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    color: #2563eb;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

section {
    margin-top: 35px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resultado {
    background-color: #ecfdf5;
    color: green;
    padding: 12px;
    border-left: 4px solid green;
    font-weight: bold;
}

.erro {
    background-color: #fee2e2;
    color: red;
    padding: 12px;
    border-left: 4px solid red;
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #2563eb;
    color: white;
}